@(artista: Artista, canciones: List[Cancion])

@layout("Home") {
    <div class="jumbotron">
            <h1>@artista.getNombre</h1>
            <h3>@artista.getUsuario</h3>
            <h3>@artista.getCorreoElectronico</h3>
            <h3>@artista.getEdad Años</h3>
    </div>
    <div class="col-sm-5">
    @for(song <- canciones) {
        <h3><a href="@routes.ControladorCancion.mostrarCancion(song.getId)">
            Cancion: @song.getNombre</a></h3>
        <h4><a href="@routes.ControladorCancion.eliminarCancion(song.getId)">
            Eliminar
        </a></h4>
    }
    </div>
    <div class="col-sm6">
        <a class="btn btn-success" href="@routes.ControladorCancion.agregarCancion(artista.getUsuario)"> Agregar Canción</a>
        <a class="btn btn-danger" href="@routes.ControladorArtista.editar(artista.getUsuario)"> Editar Perfil</a>
        <a class="btn btn-danger" href="@routes.ControladorArtista.confirmacion(artista.getUsuario)"> Eliminar Cuenta</a>
    </div>
}