@()

    @layout("NCSongs") {

        <div class="jumbotron text-center">
            <h1 align="center">
                ¡Bienvenido a NCSongs!
            </h1>
        </div>
        <div class="container">
            <div class="col-sm-6">
                <h2 align="center"> <a href="registro" >Soy un artista nuevo</a></h2>
            </div>
            <div class="col-sm-6">
                <h2 align="center"> <a href="login" >Soy un artista registrado</a></h2>
            </div>
        </div>
    }

